In [1]:
import pandas as pd
import os
os.chdir('C:/Users/Kasia/TEST/806_Repo/Labs/module_1/Pipelines-Project/204_47432_compressed_attacks')
os.listdir()

sharks=pd.read_csv("attacks.csv", encoding='latin-1')
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [2]:
sharks.shape

(25723, 24)

In [3]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
#checking what unique values I have in each column to get more idea of what I have in my data:
sharks["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [5]:
# 1. After checking what unique values I have in each column, I am defining my purpose with this data:
# Travel agency asking which countries are most dangerous when it comes to sharks attacks?
#     -> 20 countries where attacks are most common = 20 countries where injury without death is most common
#     -> 20 countries where attack results with death
#     -> 20 countries where attacks are unprovoked
 

# so to my study, the most important columns are:
# Country, Year - these cannot be nan
# Injury, Fatal, Type - these, even if nan, I keep, bc they still give me info that there was an attack in specyfic country

In [6]:
# 2. I will make a copy of my data frame to make changes on a copy:
data = sharks.copy()
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [14]:
# 3. I will cutt all the columns that are not important to me:
drop_cols = ["Case Number","Date","Activity","Name","Sex ","Species ","Investigator or Source","pdf","href formula","href","Case Number.1","Case Number.2","original order", "Unnamed: 22", "Unnamed: 23"]
data = data.drop(drop_cols, axis=1)
data.shape
# sex i species were written with space, I realized bc I had these columns in my index when I was cleaning for the first time, otherwise I dont know how to check it

KeyError: "['Case Number' 'Date' 'Activity' 'Name' 'Sex ' 'Species '\n 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'\n 'Case Number.2' 'original order' 'Unnamed: 22' 'Unnamed: 23'] not found in axis"

In [13]:
data.head()

,Year,Type,Country,Area,Location,Age,Injury,Fatal (Y/N),Time
0,2018.0,Boating,USA,California,"Oceanside, San Diego County",57,"No injury to occupant, outrigger canoe and pad...",N,18h00
1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",11,Minor injury to left thigh,N,14h00 -15h00
2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",48,Injury to left lower leg from surfboard skeg,N,07h45
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,NaN,Minor injury to lower leg,N,NaN
4,2018.0,Provoked,MEXICO,Colima,La Ticla,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN

In [16]:
# oops, I forgot to delete date and time and I ve cut it hard
drop_cols = ["Age","Time"]
data = data.drop(drop_cols, axis=1)
data.shape

(25723, 7)

In [17]:
data.head()

,Year,Type,Country,Area,Location,Injury,Fatal (Y/N)
0,2018.0,Boating,USA,California,"Oceanside, San Diego County","No injury to occupant, outrigger canoe and pad...",N
1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Minor injury to left thigh,N
2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Injury to left lower leg from surfboard skeg,N
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Minor injury to lower leg,N
4,2018.0,Provoked,MEXICO,Colima,La Ticla,Lacerations to leg & hand shark PROVOKED INCIDENT,N

In [25]:
# 4. Checking each column unique values again to get the idea of my data and what is there to be cleaned
data["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [26]:
# 5. Will start with Year - it goes back to 15543 (the small ones i suppose is mistake):
indexNames = data[data['Year'] < 2000].index
data.drop(indexNames , inplace=True)
data.shape

(21501, 7)

In [27]:
data["Year"].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000.])

In [31]:
data.dropna(subset = ["Year"])
data["Year"].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000.])